@charset "UTF-8";
/* Webfont: Lato-Regular */
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Light */
@font-face {
  font-family: 'LatoLight';
  src: url("../fonts/Lato-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
.nd-block-header {
  padding-top: 100px; }
  @media only screen and (max-width: 800px) {
    .nd-block-header {
      padding-top: 50px; } }
  .nd-block-header--no-padding {
    padding: 0; }
  .nd-block-header__header {
    color: #48d9b3;
    font-size: 3.8rem;
    margin: 0 auto 20px;
    padding: 0 0 20px;
    position: relative;
    text-align: center; }
    @media only screen and (max-width: 800px) {
      .nd-block-header__header {
        font-size: 3rem; } }
    .nd-block-header__header::after {
      border-bottom: 2px solid #48d9b3;
      bottom: 0;
      content: '';
      display: block;
      height: 1px;
      left: calc(50% - 25px);
      position: absolute;
      width: 50px; }
  .nd-block-header__subheader {
    font-size: 2.1rem;
    margin: 0 auto 40px;
    max-width: 760px;
    text-align: center; }

.nd-button-cta__btn {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #48d9b3;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative; }
  .nd-button-cta__btn:disabled {
    background-color: #72e2c5;
    cursor: wait; }
  .nd-button-cta__btn:enabled:hover {
    background-color: #29c59c; }
    .nd-button-cta__btn:enabled:hover .nd-button-cta__btn__corners--left {
      height: calc(100% + 32px);
      left: -16px;
      top: -16px; }
    .nd-button-cta__btn:enabled:hover .nd-button-cta__btn__corners--right {
      height: calc(100% + 32px);
      right: -16px;
      top: -16px; }
  .nd-button-cta__btn--inversed {
    color: #48d9b3;
    background-color: #fff; }
    .nd-button-cta__btn--inversed:hover {
      background-color: #e6e6e6; }
    .nd-button-cta__btn--inversed .nd-button-cta__btn__corners--left::after, .nd-button-cta__btn--inversed .nd-button-cta__btn__corners--left::before {
      border-color: #fff; }
    .nd-button-cta__btn--inversed .nd-button-cta__btn__corners--right::after, .nd-button-cta__btn--inversed .nd-button-cta__btn__corners--right::before {
      border-color: #fff; }
  .nd-button-cta__btn__text {
    display: inline-block;
    font-size: 1.6rem;
    padding: 20px 25px;
    text-transform: uppercase; }
    @media only screen and (max-width: 800px) {
      .nd-button-cta__btn__text {
        padding: 15px 20px; } }
  .nd-button-cta__btn__corners--left {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    height: calc(100% + 20px);
    left: -10px;
    position: absolute;
    top: -10px;
    width: 16px; }
    .nd-button-cta__btn__corners--left::after {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      border-left: 2px solid #48d9b3;
      border-top: 2px solid #48d9b3;
      content: '';
      display: block;
      height: 16px;
      left: 0;
      position: absolute;
      top: 0;
      width: 16px; }
    .nd-button-cta__btn__corners--left::before {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      border-bottom: 2px solid #48d9b3;
      border-left: 2px solid #48d9b3;
      bottom: 0;
      content: '';
      display: block;
      height: 16px;
      left: 0;
      position: absolute;
      width: 16px; }
  .nd-button-cta__btn__corners--right {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    height: calc(100% + 20px);
    position: absolute;
    right: -10px;
    top: -10px;
    width: 16px; }
    .nd-button-cta__btn__corners--right::after {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      border-right: 2px solid #48d9b3;
      border-top: 2px solid #48d9b3;
      content: '';
      display: block;
      height: 16px;
      position: absolute;
      right: 0;
      top: 0;
      width: 16px; }
    .nd-button-cta__btn__corners--right::before {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      border-bottom: 2px solid #48d9b3;
      border-right: 2px solid #48d9b3;
      bottom: 0;
      content: '';
      display: block;
      height: 16px;
      position: absolute;
      right: 0;
      width: 16px; }

.nd-contact-form__confidence {
  font-size: 1.6rem;
  text-align: center; }
  .nd-contact-form__confidence a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #bebebe;
    text-decoration: none; }
    .nd-contact-form__confidence a:hover {
      color: #a5a5a5; }
.nd-contact-form__btn {
  margin: 50px 10px 25px;
  width: calc(100% - 20px); }
.nd-contact-form-group {
  display: block;
  padding-top: 20px;
  position: relative;
  width: 100%; }
  .nd-contact-form-group__bar {
    display: block;
    position: relative;
    width: 100%; }
    .nd-contact-form-group__bar::before, .nd-contact-form-group__bar::after {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      background: #48d9b3;
      bottom: 10px;
      content: '';
      height: 2px;
      position: absolute;
      width: 0; }
    .nd-contact-form-group__bar::before {
      left: 50%; }
    .nd-contact-form-group__bar::after {
      right: 50%; }
  .nd-contact-form-group label {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    bottom: 20px;
    color: #bebebe;
    left: 10px;
    position: absolute; }
  .nd-contact-form-group input {
    background: none;
    border: 0;
    border-bottom: 1px solid #bebebe;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 10px;
    outline: none;
    padding: 10px;
    width: 100%; }
    .nd-contact-form-group input:focus ~ .nd-contact-form-group__bar::before, .nd-contact-form-group input:focus ~ .nd-contact-form-group__bar::after {
      width: 50%; }
    .nd-contact-form-group input:focus ~ label, .nd-contact-form-group input:valid ~ label {
      bottom: 55px;
      color: #fff; }
.nd-contact-form--dark .nd-contact-form-group input {
  color: #545758; }
  .nd-contact-form--dark .nd-contact-form-group input:focus ~ label, .nd-contact-form--dark .nd-contact-form-group input:valid ~ label {
    color: #48d9b3; }

.nd-full-width-block {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  width: 100vw; }

.nd-form-popup {
  padding: 70px 80px; }
  @media only screen and (max-width: 800px) {
    .nd-form-popup {
      padding: 70px 20px; } }
  .nd-form-popup__form {
    display: block;
    margin: 0 auto;
    max-width: 430px;
    width: 100%; }

.close-modal-button {
  display: block;
  height: 30px;
  overflow: hidden;
  position: absolute;
  right: 20px;
  text-indent: -5000px;
  top: 20px;
  transform: rotate(45deg);
  width: 30px; }
  .close-modal-button::before {
    background: #bebebe;
    border-radius: 2px;
    content: '';
    display: block;
    height: 30px;
    left: 14px;
    position: absolute;
    top: 0;
    transition: .5s .5s ease-in-out;
    width: 3px; }
  .close-modal-button::after {
    background: #bebebe;
    border-radius: 2px;
    content: '';
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    top: 14px;
    transition: .5s 1s ease-in-out;
    width: 30px; }

.nd-scrollup {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: transparent;
  border: 1px solid #bebebe;
  bottom: 50px;
  color: #bebebe;
  display: none;
  font-size: 3rem;
  font-weight: bold;
  height: 60px;
  position: fixed;
  right: 30px;
  text-align: center;
  width: 60px;
  z-index: 999; }
  .nd-scrollup:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #48d9b3;
    color: #48d9b3; }
  .nd-scrollup [class*='icon-'] {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    transform: rotate(90deg);
    width: 60px; }

/* ╨Р╨╜╨╕╨╝╨░╤Ж╨╕╤П ╨║╨╛╨╗╨╡╤Б╨╕╨║╨░ ╨╝╤Л╤И╨║╨╕ */
@keyframes mouse-anim {
  0% {
    transform: translateY(6px); }
  50% {
    transform: translateY(25px); }
  100% {
    transform: translateY(6px); } }
*,
*::after,
*::before {
  box-sizing: border-box; }

html {
  font-family: 'Lato', 'Open Sans', 'Arial', sans-serif;
  font-size: 10px; }

body {
  background-color: #fff;
  color: #545758;
  font-size: 1.8rem;
  overflow-x: hidden; }

.nd-header {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  height: 100px;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 100; }
  .nd-header__logo {
    display: inline-block;
    margin-left: 50px; }
    @media only screen and (max-width: 999px) {
      .nd-header__logo {
        margin-left: 10px; } }
    .nd-header__logo-img {
      vertical-align: middle;
      width: 200px; }
      @media only screen and (max-width: 800px) {
        .nd-header__logo-img {
          display: none; } }
      .nd-header__logo-img-small {
        display: none;
        vertical-align: middle;
        width: 55px; }
        @media only screen and (max-width: 800px) {
          .nd-header__logo-img-small {
            display: inline-block; } }
  .nd-header__menu {
    display: inline-block;
    margin: 0;
    vertical-align: middle; }
    @media only screen and (max-width: 800px) {
      .nd-header__menu {
        display: none; } }
    .nd-header__menu-icon {
      color: #fff;
      display: none;
      font-size: 2.4rem;
      margin: 0;
      margin-right: 10px;
      text-decoration: none;
      vertical-align: middle; }
      @media only screen and (max-width: 800px) {
        .nd-header__menu-icon {
          display: inline-block; } }
    .nd-header__menu__item {
      display: inline-block;
      margin: 0 20px;
      position: relative;
      text-shadow: rgba(0, 0, 0, 0.3) 0 0 5px; }
      .nd-header__menu__item a {
        color: #fff;
        text-decoration: none; }
        .nd-header__menu__item a:hover::after {
          opacity: 1;
          width: calc(100% + 10px); }
        .nd-header__menu__item a::after {
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          border-bottom: 2px solid #48d9b3;
          bottom: 0;
          content: "";
          cursor: pointer;
          left: 0;
          margin-left: -5px;
          position: absolute;
          width: 0%; }
  .nd-header__phones {
    color: #fff;
    display: inline-block;
    margin-right: 50px;
    min-width: 210px;
    position: relative;
    vertical-align: middle; }
    @media only screen and (max-width: 999px) {
      .nd-header__phones {
        margin-right: 10px; } }
    .nd-header__phones:hover .nd-header__phones__dropdown {
      opacity: 1; }
    .nd-header__phones__main-phone {
      text-shadow: rgba(0, 0, 0, 0.3) 0 0 5px; }
      .nd-header__phones__main-phone__link {
        text-decoration: none;
        color: #fff; }
    .nd-header__phones__arrow {
      display: inline-block;
      margin: 5px;
      vertical-align: middle;
      width: 15px; }
    .nd-header__phones__dropdown {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      background: #ecebea;
      color: #545758;
      display: block;
      line-height: 1;
      opacity: 0;
      padding: 20px;
      position: absolute;
      text-align: center;
      top: calc(50% + 2rem); }
      .nd-header__phones__dropdown::after {
        border: 7px solid transparent;
        border-color: transparent;
        border-bottom-color: #ecebea;
        bottom: 100%;
        content: "";
        height: 0;
        left: 50%;
        margin-left: -7px;
        pointer-events: none;
        position: absolute;
        width: 0; }
      .nd-header__phones__dropdown__number {
        display: inline-block;
        margin-bottom: 10px; }
        .nd-header__phones__dropdown__number__link {
          text-decoration: none;
          color: #545758; }
      .nd-header__phones__dropdown .nd-button-cta__btn {
        width: 100%; }
        .nd-header__phones__dropdown .nd-button-cta__btn__text {
          font-size: 1.2rem;
          padding: 8px 0; }
    .nd-header__phones .icon-phone {
      font-size: 1.4rem; }

.nd-hero {
  background: url("../images/jpg/about.jpg") no-repeat center center;
  background-size: cover;
  min-height: 670px;
  padding-top: 190px; }
  @media only screen and (max-width: 800px) {
    .nd-hero {
      min-height: auto; } }
  .nd-hero__subheader {
    color: #fff;
    font-family: 'LatoLight';
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase; }
    @media only screen and (max-width: 800px) {
      .nd-hero__subheader {
        font-size: 1.4rem; } }
  .nd-hero__header__text {
    color: #fff;
    font-size: 4.8rem;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase; }
    @media only screen and (max-width: 800px) {
      .nd-hero__header__text {
        font-size: 2.2rem; } }
  .nd-hero__cta {
    margin: 70px auto;
    text-align: center; }
    @media only screen and (max-width: 800px) {
      .nd-hero__cta {
        margin: 40px auto; } }
  .nd-hero__mouse-icon {
    position: absolute;
    bottom: 52px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 30px;
    fill: none;
    stroke: #fff;
    stroke-width: 8; }
    .nd-hero__mouse-icon .st1 {
      stroke-linecap: round;
      animation: mouse-anim 1.5s infinite ease; }
    @media only screen and (max-width: 800px) {
      .nd-hero__mouse-icon {
        padding-bottom: 40px; } }

.nd-advantages {
  background-color: #fff; }

.nd-flex-grid {
  align-items: top;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px; }
  .nd-flex-grid__item {
    display: block;
    max-width: 360px;
    min-width: 330px;
    padding: 15px; }
    .nd-flex-grid__item__icon {
      font-size: 6rem;
      text-align: center; }
    .nd-flex-grid__item__title {
      color: #48d9b3;
      font-size: 2.1rem;
      line-height: 2.6rem;
      margin-bottom: 10px;
      text-align: center;
      text-transform: uppercase; }
    .nd-flex-grid__item__description {
      text-align: center; }

.nd-services {
  padding: 0; }
  .nd-services__bg-item {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    filter: blur(2px);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .nd-services__darken-item {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .nd-services__green-item {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: rgba(72, 217, 179, 0.6);
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .nd-services__photo {
    background: url("../images/jpg/course-photo.jpg") no-repeat center center;
    background-size: cover; }
  .nd-services__photosession {
    background: url("../images/jpg/course-photosession.jpg") no-repeat center center;
    background-size: cover; }
  .nd-services__macro {
    background: url("../images/jpg/course-macro.jpg") no-repeat center center;
    background-size: cover; }
  .nd-services__light {
    background: url("../images/jpg/course-light.jpg") no-repeat center center;
    background-size: cover; }
  .nd-services__people {
    background: url("../images/jpg/course-people.jpg") no-repeat center center;
    background-size: cover; }
  .nd-services__composition {
    background: url("../images/jpg/course-composition.jpg") no-repeat center center;
    background-size: cover; }
  .nd-services__order {
    background: url("../images/jpg/course-order.jpg") no-repeat center center;
    background-size: cover; }

.nd-flex-composite-grid {
  display: flex; }
  @media only screen and (max-width: 999px) {
    .nd-flex-composite-grid {
      flex-wrap: wrap;
      max-width: 100vw; } }
  .nd-flex-composite-grid__column {
    display: flex;
    flex: 1 33%;
    flex-direction: column; }
    @media only screen and (max-width: 999px) {
      .nd-flex-composite-grid__column {
        flex: 1 100%;
        min-width: 100vw; } }
  .nd-flex-composite-grid__item {
    background-color: #2b2b2b;
    display: flex;
    flex: 1 240px;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    overflow: hidden;
    padding: 35px;
    position: relative; }
    @media only screen and (max-width: 999px) {
      .nd-flex-composite-grid__item {
        flex: 1 100%;
        height: auto;
        min-height: 250px;
        min-width: 100vw; } }
    .nd-flex-composite-grid__item:hover .nd-services__darken-item {
      background-color: rgba(0, 0, 0, 0.3); }
    .nd-flex-composite-grid__item:hover .nd-services__green-item {
      background-color: rgba(72, 217, 179, 0.8); }
    .nd-flex-composite-grid__item:hover .nd-flex-composite-grid__item__subtitle {
      color: #fff; }
    .nd-flex-composite-grid__item:hover .nd-services__bg-item {
      filter: none; }
    .nd-flex-composite-grid__item--2x {
      flex: 1 480px; }
      @media only screen and (max-width: 999px) {
        .nd-flex-composite-grid__item--2x {
          flex: 1 200%;
          min-height: 500px; } }
    .nd-flex-composite-grid__item__title {
      color: #fff;
      font-size: 2.4rem;
      text-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
      text-transform: uppercase;
      z-index: 1; }
    .nd-flex-composite-grid__item__subtitle {
      color: #ddd;
      font-size: 1.8rem;
      margin-top: 15px;
      text-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
      z-index: 1; }
    .nd-flex-composite-grid__item__btn {
      margin-top: 25px;
      padding: 10px;
      z-index: 1; }

.nd-trust {
  padding-bottom: 40px; }
  .nd-trust__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .nd-trust__list__item {
      display: block;
      flex: 1 250px;
      margin-bottom: 40px;
      max-width: 250px;
      text-align: center; }
      .nd-trust__list__item__circle {
        display: block;
        height: 170px;
        margin: 0 auto 20px;
        padding-top: 40px;
        position: relative;
        width: 170px; }
        .nd-trust__list__item__circle::after {
          border: 2px solid #48d9b3;
          border-radius: 50%;
          content: '';
          display: block;
          height: 170px;
          left: -3px;
          position: absolute;
          top: 0;
          width: 170px; }
        .nd-trust__list__item__circle::before {
          border: 2px solid rgba(72, 217, 179, 0.6);
          border-radius: 50%;
          content: '';
          display: block;
          height: 170px;
          left: 3px;
          position: absolute;
          top: 0;
          width: 170px; }
      .nd-trust__list__item__number {
        display: block;
        font-size: 6rem;
        font-weight: bold; }
      .nd-trust__list__item__text {
        display: block; }

.nd-price {
  background: url("../images/jpg/price.jpg") no-repeat center center;
  background-size: cover;
  padding-bottom: 80px;
  padding-top: 80px; }
  .nd-price__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px; }
  .nd-price__discount {
    flex: 8 66%; }
    @media only screen and (max-width: 800px) {
      .nd-price__discount {
        flex: 1 100%; } }
    .nd-price__discount__header {
      color: #fff;
      font-size: 4.8rem;
      text-transform: uppercase; }
      @media only screen and (max-width: 800px) {
        .nd-price__discount__header {
          font-size: 3rem; } }
    .nd-price__discount__subheader {
      color: #fff;
      font-size: 3.8rem;
      margin: 30px 0;
      text-transform: uppercase; }
      @media only screen and (max-width: 800px) {
        .nd-price__discount__subheader {
          font-size: 2.4rem; } }
    .nd-price__discount__is {
      color: #48d9b3;
      display: inline-block;
      font-size: 2.8rem;
      margin-right: 30px;
      text-transform: uppercase; }
      .nd-price__discount__is .number {
        font-size: 6.4rem; }
    .nd-price__discount__was {
      color: #fff;
      display: inline-block;
      font-size: 2.4rem;
      position: relative;
      text-transform: uppercase; }
      .nd-price__discount__was .number {
        font-size: 4.8rem; }
      .nd-price__discount__was::after {
        border-bottom: 3px solid #48d9b3;
        bottom: 1.7rem;
        content: "";
        left: 0;
        margin-left: -5px;
        position: absolute;
        width: calc(100% + 10px); }
    .nd-price__discount__description {
      color: #bebebe;
      font-size: 2.4rem;
      margin-top: 30px; }
  .nd-price__form {
    flex: 4 33%; }
    @media only screen and (max-width: 800px) {
      .nd-price__form {
        flex: 1 100%; } }

.nd-slider {
  padding-bottom: 80px; }
  @media only screen and (max-width: 800px) {
    .nd-slider {
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0; } }
  .nd-slider__main-photo {
    margin: 0 auto;
    max-width: 1140px; }
    .nd-slider__main-photo img {
      cursor: pointer;
      width: 100%; }
    @media only screen and (max-width: 800px) {
      .nd-slider__main-photo {
        display: none !important; } }
  .nd-slider__panel {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1140px; }
    @media only screen and (max-width: 800px) {
      .nd-slider__panel {
        align-items: stretch; } }
  .nd-slider__prev, .nd-slider__next {
    color: #bebebe;
    cursor: pointer;
    font-size: 4rem; }
    .nd-slider__prev:hover, .nd-slider__next:hover {
      color: #48d9b3; }
    @media only screen and (max-width: 800px) {
      .nd-slider__prev, .nd-slider__next {
        display: none; } }
  .nd-slider__mini {
    cursor: pointer;
    display: block;
    height: 120px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 140px; }
    @media only screen and (min-width: 801px) and (max-width: 999px) {
      .nd-slider__mini {
        height: 80px;
        width: 100px; } }
    @media only screen and (max-width: 800px) {
      .nd-slider__mini {
        height: 40vw;
        width: 50vw; } }
    .nd-slider__mini:hover::after, .nd-slider__mini.active::after {
      background-color: transparent; }
    .nd-slider__mini::after {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      background-color: rgba(0, 0, 0, 0.5);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
      @media only screen and (max-width: 800px) {
        .nd-slider__mini::after {
          background-color: transparent; } }
    .nd-slider__mini img {
      height: 100%;
      left: 50%;
      margin: 0;
      margin-right: -50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%); }

.nd-video {
  background: url("../images/jpg/video.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 150px 0;
  text-align: center; }
  @media only screen and (max-width: 800px) {
    .nd-video {
      padding: 20vw 0; } }
  .nd-video__block-header {
    display: none; }
    @media only screen and (max-width: 800px) {
      .nd-video__block-header {
        display: block; } }
  .nd-video__embedded {
    background-color: #2b2b2b;
    padding-left: 0;
    padding-right: 0;
    text-align: center; }
  .nd-video__title {
    font-size: 4.8rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 800px) {
      .nd-video__title {
        display: none; } }
  .nd-video__subtitle {
    font-size: 1.8rem;
    margin: 25px auto;
    text-transform: uppercase; }
    @media only screen and (max-width: 800px) {
      .nd-video__subtitle {
        display: none; } }
  .nd-video__icon {
    cursor: pointer;
    display: inline-block;
    width: 11rem;
    height: 11rem;
    background: url() 0 0 no-repeat;
    background-image: url("../images/png/play-white.png");
    /* IE 8 */
    background-image: url("../images/svg/play.svg"), none;
    /* Modern browsers */
    background-size: auto 100%;
    vertical-align: middle; }
    .nd-video__icon:hover {
      opacity: 0.8; }

.nd-reviews {
  padding-bottom: 80px; }
  @media only screen and (max-width: 800px) {
    .nd-reviews {
      padding-left: 0;
      padding-right: 0; } }
  .nd-reviews__container {
    align-items: top;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px; }
  .nd-reviews__prev, .nd-reviews__next {
    align-self: center;
    color: #bebebe;
    cursor: pointer;
    font-size: 4rem; }
    @media only screen and (max-width: 800px) {
      .nd-reviews__prev, .nd-reviews__next {
        display: none; } }
    .nd-reviews__prev:hover, .nd-reviews__next:hover {
      color: #48d9b3; }
  .nd-reviews__review {
    display: none;
    justify-content: space-between;
    min-width: 900px; }
    @media only screen and (min-width: 801px) and (max-width: 999px) {
      .nd-reviews__review {
        min-width: 635px; } }
    @media only screen and (max-width: 800px) {
      .nd-reviews__review {
        flex-wrap: wrap;
        max-width: 100vw;
        min-width: 100vw; } }
    .nd-reviews__review.active {
      display: flex; }
  .nd-reviews__avatar {
    margin-bottom: 30px;
    text-align: center; }
    @media only screen and (max-width: 800px) {
      .nd-reviews__avatar {
        flex: 1 100%; } }
    .nd-reviews__avatar img {
      border-radius: 50%;
      display: inline-block;
      height: 250px;
      overflow: hidden;
      width: 250px; }
      @media only screen and (min-width: 801px) and (max-width: 999px) {
        .nd-reviews__avatar img {
          height: 125px;
          width: 125px; } }
  .nd-reviews__quote {
    background: url("../images/png/quotes.png") no-repeat top center;
    display: block;
    flex: 1 70px;
    height: 70px;
    width: 70px; }
    @media only screen and (max-width: 800px) {
      .nd-reviews__quote {
        display: none; } }
  .nd-reviews__review-body {
    max-width: 540px; }
    @media only screen and (max-width: 800px) {
      .nd-reviews__review-body {
        padding-left: 10px;
        padding-right: 10px; } }
    .nd-reviews__review-body__quote {
      background: url("../images/png/quotes.png") no-repeat top center;
      background-size: 35px;
      display: none;
      flex: 1 35px;
      height: 35px;
      margin-right: 20px;
      vertical-align: top;
      width: 35px; }
      @media only screen and (max-width: 800px) {
        .nd-reviews__review-body__quote {
          display: inline-block; } }
    .nd-reviews__review-body__title {
      font-size: 2.8rem;
      margin-bottom: 15px; }
      @media only screen and (max-width: 800px) {
        .nd-reviews__review-body__title {
          display: inline-block;
          font-size: 2rem;
          line-height: 1.4;
          width: calc(100% - 35px - 40px); } }
    .nd-reviews__review-body__text {
      font-size: 1.8rem;
      font-style: italic;
      line-height: 1.4; }
      @media only screen and (max-width: 800px) {
        .nd-reviews__review-body__text {
          width: 90vw; } }
    .nd-reviews__review-body__link {
      margin: 15px 0; }
      .nd-reviews__review-body__link a {
        color: #b0b0b0; }
    .nd-reviews__review-body__author {
      display: inline-block;
      float: right;
      position: relative; }
      @media only screen and (max-width: 800px) {
        .nd-reviews__review-body__author {
          padding-top: 20px; } }
      .nd-reviews__review-body__author::before {
        background-color: #48d9b3;
        bottom: .8rem;
        content: '';
        display: inline-block;
        height: 2px;
        left: -25px;
        position: absolute;
        width: 20px; }
  .nd-reviews__progress {
    clear: both;
    display: block; }
    @media only screen and (max-width: 800px) {
      .nd-reviews__progress {
        margin-top: 0 auto;
        padding-top: 20px;
        text-align: center; } }
    .nd-reviews__progress__item {
      background-color: #bebebe;
      cursor: pointer;
      display: inline-block;
      height: 3px;
      margin-right: 3px;
      width: 25px; }
      .nd-reviews__progress__item.active {
        background-color: #48d9b3; }

.nd-gift {
  background: url("../images/jpg/gift.jpg") no-repeat center center;
  background-size: cover;
  padding-bottom: 80px;
  padding-top: 80px; }
  .nd-gift__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px; }
  .nd-gift__discount {
    flex: 8 66%; }
    @media only screen and (max-width: 800px) {
      .nd-gift__discount {
        flex: 1 100%; } }
    .nd-gift__discount__header {
      color: #fff;
      font-size: 3.8rem; }
      @media only screen and (max-width: 800px) {
        .nd-gift__discount__header {
          font-size: 3rem; } }
    .nd-gift__discount__description {
      color: #bebebe;
      font-size: 2.4rem;
      margin-top: 30px; }
  .nd-gift__form {
    flex: 4 33%; }
    @media only screen and (max-width: 800px) {
      .nd-gift__form {
        flex: 1 100%; } }

.nd-contact {
  padding: 0; }
  .nd-contact__google-map {
    height: 520px;
    width: 100%; }
  .nd-contact__list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto 20px;
    max-width: 1140px; }
    .nd-contact__list__item {
      text-align: center;
      margin-bottom: 30px; }
      @media only screen and (max-width: 800px) {
        .nd-contact__list__item {
          flex: 1 100%;
          margin-bottom: 20px; } }
      .nd-contact__list__item__icon {
        color: #48d9b3;
        display: inline-block;
        font-size: 4.5rem;
        margin-bottom: 10px; }
      .nd-contact__list__item__text {
        display: block;
        font-size: 1.8rem; }
        .nd-contact__list__item__text-link {
          text-decoration: none;
          color: #545758; }

.nd-questions {
  background: url("../images/jpg/questions.jpg") no-repeat center center;
  background-size: cover;
  padding-bottom: 80px; }
  .nd-questions__form {
    display: block;
    margin: 0 auto;
    max-width: 430px;
    width: 100%; }

.nd-footer {
  background-color: #282828;
  padding-left: 10px;
  padding-right: 10px; }
  .nd-footer__container {
    align-items: center;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
    min-height: 115px;
    padding: 15px 0; }
  .nd-footer__rights {
    text-align: left;
    width: 250px; }
    @media only screen and (max-width: 800px) {
      .nd-footer__rights {
        flex: 1 100%;
        text-align: center; } }
  .nd-footer__social {
    text-align: center;
    width: 250px; }
    @media only screen and (max-width: 800px) {
      .nd-footer__social {
        border-bottom: 1px dotted #545758;
        border-top: 1px dotted #545758;
        flex: 1 100%;
        margin: 15px auto;
        padding: 15px 0; } }
    .nd-footer__social-icon {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      color: #fff;
      font-size: 2rem;
      margin-right: 30px; }
      .nd-footer__social-icon:hover {
        color: #48d9b3; }
      .nd-footer__social-icon:last-child {
        margin-right: 0; }
  .nd-footer__studio {
    text-align: right;
    width: 250px; }
    @media only screen and (max-width: 800px) {
      .nd-footer__studio {
        flex: 1 100%;
        text-align: center; } }

#nd-terms,
#nd-free-lesson-form,
#nd-courses-form,
#nd-call-form,
#nd-success-form,
#nd-menu-form {
  display: none; }

#nd-menu-form {
  background: none; }

.nd-terms {
  padding: 70px 80px; }
  @media only screen and (max-width: 800px) {
    .nd-terms {
      padding: 70px 20px; } }
  .nd-terms__header {
    color: #48d9b3; }
  .nd-terms__subheader {
    color: #48d9b3;
    font-size: 2.8rem; }
  .nd-terms__text {
    line-height: 1.4;
    margin: 0; }

.nd-menu-form {
  align-items: center;
  background-color: rgba(20, 20, 20, 0.9);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw; }
  .nd-menu-form__list {
    list-style: none;
    margin: 0; }
    .nd-menu-form__list__item {
      padding-bottom: 2rem; }
      .nd-menu-form__list__item a {
        color: #fff;
        font-size: 2.1rem;
        text-decoration: none;
        text-transform: uppercase; }

.nd-success-popup {
  padding: 50px 80px;
  text-align: center; }
  @media only screen and (max-width: 800px) {
    .nd-success-popup {
      padding: 70px 20px; } }
  .nd-success-popup__text {
    font-size: 2.1rem;
    margin-bottom: 40px; }
  .nd-success-popup__success-icon {
    height: 170px;
    margin-bottom: 20px;
    width: 170px; }
    .nd-success-popup__success-icon circle,
    .nd-success-popup__success-icon polyline {
      fill: none;
      stroke: #48d9b3;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 3; }

/*# sourceMappingURL=style.css.map */
